<%- include("header") -%>
<div class="container-fluid">

<div >
  <div class="heading">
    <h1 class="display-3">CONTACT LIST</h1>
  </div>

  <form  action="/search" method="post">
    <div class="search-bar input-group mb-4">
                <input type="input" name="search" placeholder="Search by name" aria-describedby="button-addon5" class="form-control">
                <div class="input-group-append">
                  <button id="button-addon5" type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
                </div>
    </div>
  </form>

  <div class="card contact-list" >

  <ul class="list-group list-group-flush">
    <% contactList.forEach(function(item){  %>
      <li class="list-group-item list-group-item-danger"> <%= item.name %>
      <a class="btn btn-dark btn-sm float-right" data-toggle="collapse" href="#<%=item.name%>" role="button" aria-expanded="false" aria-controls="collapseContact">+</a>
      </li>
      <div class="collapse" id="<%= item.name %>">
        <div class="card card-body">
          <div class="contact-info row">
            <div class="col-sm">
              <ul class="list-group">
              <% item.email.forEach(function(n){ %>
                  <li class="list-group-item">📬️ <%= n %> </li>
              <% }) %>
              </ul>
            </div>
            <div class="col-sm">
              <ul class="list-group">
              <% item.mobileNo.forEach(function(n){ %>
                  <li class="list-group-item">📞️ <%= n %> </li>
              <% }) %>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="row">
              <div class="col-sm-6">
                <form class="" action="/edit" method="post">
                  <button type="submit" name="editid" class="btn  btn-block btn-success">Edit</button>
                </form>
              </div>
              <div class="col-sm-6">
                <form class="" action="/remove" method="post">
                  <button type="submit" name="removeid" class="btn btn-block btn-danger" value="<%= item._id %>" onchange="this.form.submit()">Remove</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% }) %>
  </ul>
</div>




</div>

</div>



<%- include("footer") -%>
