<%- include("header") -%>

<div >
  <div class="heading">
    <h1 class="display-1">Contact List</h1>
  </div>


  <div class="card" style="width: 40rem;">
  <ul class="list-group list-group-flush">
    <% contactList.forEach(function(item){  %>
      <li class="list-group-item list-group-item-dark"> <%= item.name %>
      <a class="btn btn-primary btn-sm float-right" data-toggle="collapse" href="#<%=item.name%>" role="button" aria-expanded="false" aria-controls="collapseContact">+</a>
      </li>
      <div class="collapse" id="<%= item.name %>">
        <div class="card card-body">
          <div class="contact-info row">
            <div class="col-sm">
              <ul class="list-group">
              <% item.email.forEach(function(n){ %>
                  <li class="list-group-item">📬️ <%= n %> </li>
              <% }) %>
              </ul>
            </div>
            <div class="col-sm">
              <ul class="list-group">
              <% item.mobileNo.forEach(function(n){ %>
                  <li class="list-group-item">📞️ <%= n %> </li>
              <% }) %>
              </ul>
            </div>
          </div>
          <div class="btn-group">
            <form class="" action="/edit" method="post">
              <button type="button" class="btn btn-sm btn-outline-success">Edit</button>
            </form>
            <form class="" action="/remove" method="post">
              <button type="button" class="btn btn-sm btn-outline-danger" value="<%= item._id %>">Remove</button>
            </form>

          </div>

        </div>
      </div>
    <% }) %>
  </ul>
</div>




</div>





<%- include("footer") -%>
